%h1.page-title{:align => "center"}About page

.card
	.card-header
		Alpha Blog
	.card-body
		%blockquote.blockquote.mb-0
			%p 
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla iste, ipsa eum facere magnam vero consectetur architecto deserunt non quia quae ullam aliquam, at assumenda, pariatur officiis quasi distinctio. Earum!
			%footer.blockquote-footer 
				Someone famous in 
				%cite{:title => "Source Title"} Source Title
= link_to 'Articles list', articles_path
= link_to 'Home page', root_path